/2025TP_N3.pdf
/anova.html
/anova.ipynb
/Bishop. 03 PRML y 04 DLFC.mp3
/ej.3.12.zhengqigao.ipynb
/ej3.13.zhengqigao.ipynb
/parte_II_bishop.html
/parte_II_sci-kit-learn.ipynb
/predicciones_unknown.txt
/predicciones_unknown_sklearn.txt
/producto_eventos_independientes.ipynb
/regresion_lineal_1x500.html
/Regresion_lineal_bishop.ipynb